@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h4 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: #333; /* Adjust color as needed */
}

/* Styles for Subheadings */
.answer-display h4 {
  font-weight: bold;
  font-size: 1.2rem; /* Adjust as needed */
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: #333; /* Darker color for emphasis */
}

cite {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}

.answer-content ol {
  margin-left: 1.5rem;
  list-style: decimal;
}

.citation {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}



ol ol {
  list-style-type: none; /* Prevent sub-numbering for nested lists */
  padding-left: 0; /* Reset indent */
}





